<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My components</title>
    <link rel="stylesheet" href="./components.css">
</head>

<body>
    <section class="text-styles">
        <h2>Text styles</h2>
        <p class="time">Time</p>

        <p>Meny text</p>
        <p class="card-not-available-text">Tyvärr ej tillgänglig</p>
        <p class="card-status-text">Se tillgänglighetsstatus</p>

    </section>


    <header>
        <section class="header-section-one">
            <p class="time">14:22</p>
            <ul class="header notis-list-section">
                <li><img src="../img/wifi-icon.png" alt="battery icon"></li>
                <li><img src="../img/signal-icon.png" alt="battery icon"></li>
                <li><img src="../img/battery-icon.png" alt="battery icon"></li>
            </ul>

        </section>

        <section class="header-section-two">
            <div><img src="../img/Logga.png" alt="logo"></div>
            <div>
                <button class="menu-button">
                    <img class="header-nav-icon" src="../img/menu-ikon.png" alt="nav-icon">
                    <p>Meny</p>
                </button>
            </div>
        </section>
    </header>



    <section class="card_not_available">
        <img src="../img/roll-on-pensel.jpg" class="card__image" />
        <p class="card-text">Ej tillgänglig</p>
        <a class="link-text" href="#">Se tillgänglighetsstatus</a>

    </section>



    <section class="card_available">
        <img src="../img/grensax.jpg" class="card__image" />
        <p class="card-text">Tillgänglig</p>
        <button class="rent-buttons">Hyra</button>

    </section>

    <section class="login-container" id="popup-overlay">
        <form id="popup-content">

            <span id="close-popup">X</span>

            <div class="user-box">

                <input type="text" placeholder="användarnamn" required="">
            </div>
            <div class="user-box">

                <input type="password" placeholder="lösenord" required="">
            </div>

            <p class="forgot-password">jag har glömt mitt lösenord <a href="#">Klicka</a>här.</p>
            <button class="login-button" type="submit">Logga in</button>
        </form>
    </section>




    <section class="footer-section">

        <div class="icons">
            <span><img src="../img/Nav-icon.png" alt="navIcon"></span>
            <span><img src="../img/mail-icon.png" alt="mainIcon"></span>
            <span><img src="../img/call-icon.svg" alt="phoneIcon"></span>
            <span><img src="../img/mobile.png" alt="mobileIcon"></span>
        </div>
        <div class="contactUs">
            <h3>Kontakta oss</h3>
            <p>Homegatan 56</p>
            <p>stickansuthyrning@gmail.com</p>
            <p>031 7373 85</p>
            <p>0731 465 383</p>
        </div>

        <div class="openHours">
            <h3>Öppettider</h3>
            <p>Mån: 14:00-18:00</p>
            <p>Tis: 15:00-19:00</p>
            <p>Tor: 17:00-20-00</p>
            <p>Fre: 13:00-17:00</p>
        </div>

    </section>


    <div class="footer-social-wrap">
        <img class="footer-logo" src="../img/Logga.png" alt="logo">

        <div class="social-icons">
            <a href=""><img src="../img/facebook-icon.png" alt="facebook"></a>

            <a href=""><img src="../img/instagram-icon.png" alt="instagram"></a>

        </div>
    </div>


</body>

</html>